* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

textarea::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #22c55e;
}
textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom__input::before {
  position: absolute;
  z-index: 10;
  top: -1px;
  left: -1px;
  content: '';
  width: 4px;
  height: calc(100% + 2px);
  background-color: #21c45d;
  transform: translateY(-150px);
}

.custom__input--visible::before {
  transform: translateY(0);
}

.custom__input input::-webkit-outer-spin-button,
.custom__input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom__input input[type='number'] {
  -moz-appearance: textfield;
}
